<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>selfjoin</h1>
        <table border="3px" cellpadding="5px">
            <tr>
                <th>Ename</th>
                <th>Manager details</th>
                <th>Sal</th>
            </tr>
        {% for emp in Empmgrobjects %}
        <tr>
            <td>{{emp.ename}}</td>
            <td>{{emp.mgr.ename}}</td>
            <td>{{emp.sal}}</td>
        </tr>
        {% endfor %}
        </table>
    </center>
</body>
</html>